<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kempinski Hotel | Booking</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"  rel="stylesheet" />
  <link href="assets/style/style.css" rel="stylesheet" />
  <link rel="icon" href="../static/NginepYukLogo.png" type="image/icon type">
  <!-- Google Font CDN -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <!-- SweetAlert CDN -->
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.min.css" rel="stylesheet">
  <!-- Tailwind Config -->
  <script>
      tailwind.config = {
          theme: {
              extend: {
                  fontFamily: {
                      inter: ['Inter+Tight'],
                      montserrat: ['Montserrat'],
                      poppins: ['Poppins'],
                      roboto: ['Roboto'],
                      quicksand: ['Quicksand'],
                      cormorant: ['Cormorant']
                  },
              },
          },
      };
  </script>
</head>

<body class="font-poppins">

    <nav class="bg-white border-gray-200 shadow-lg font-poppins">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 md:p-5">
            <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                <h1 class="text-3xl text-[#45bb8e] font-cormorant font-extrabold mt-2 mb-2">Kempinski.</h1>
            </a>
            <button data-collapse-toggle="navbar-dropdown" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                aria-controls="navbar-dropdown" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
            <div class="md:mr-5 hidden w-full md:block md:w-auto" id="navbar-dropdown">
                <ul
                    class="flex flex-col font-light p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white">
                    <li>
                        <a href="/" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#45bb8e] md:p-0">Home</a>
                    </li>
                    <li>
                        <a href="/" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#45bb8e] md:p-0">Room Type</a>
                    </li>
                    <li>
                        <a href="/booking" class="block py-2 px-3 text-[#45bb8e] rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#45bb8e] md:p-0">Booking</a>
                    </li>
                    <li>
                        <a href="/" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#45bb8e] md:p-0">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!-- Navbar End -->

    <section class="bg-white font-cormorant mt-7">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl ">The Apurva Kempinski Hotel</h1>
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 ">Terimakasih sudah mengunjungi laman website kami, untuk keperluan booking hotel bisa langsung menuju Form Book yang telah kami sediakan.</p>
            <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
                <a href="#form-booking" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-[#45bb8e] hover:bg-[#3ea77e]">
                    Form Book
                </a>
                <a href="/" class="py-3 px-5 sm:ms-4 text-sm font-medium text-[#3ea77e] focus:outline-none bg-white rounded-lg border border-[#3ea77e] hover:bg-gray-200">
                    Back to Home
                </a>  
            </div>
        </div>
    </section>


    <section id ="form">
        <div class="main-content mt-0">
            <div class="bg-white py-10 px-14 rounded-lg shadow-md max-w-7xl mx-auto mb-1">
                <div class="flex flex-row mx-auto">
                    <div id="form-booking">
                        <h2 class="font-bold text-3xl mb-2 font-cormorant">Hotel Booking Form</h2>
                        <p class="text-xl font-normal mb-8 font-cormorant">Silahkan isi data diri anda sebelum berkunjung.</p>
                        <form action="/book" method="POST" id="bookingForm">
                            <div class="grid gap-4 my-4 ml-10">
                                <div class="flex items-center space-x-4">
                                    <label for="name" class="w-36 font-light text-sm">Nama</label>
                                    <input type="text" name="name" id="name" placeholder="Nama" class="border border-gray-300 rounded px-2 py-2 w-96 font-light" required>
                                </div>
                                <div class="flex items-center space-x-4">
                                    <label for="email" class="w-36 font-light text-sm">Email</label>
                                    <input type="email" name="email" id="email" placeholder="example@gmail.com" class="border border-gray-300 rounded px-2 py-2 w-96 font-light" required>
                                </div>
                                <div class="flex items-center space-x-4">
                                    <label for="checkin" class="w-36 font-light text-sm">Tanggal Check-In</label>
                                    <input type="date" name="checkin" id="checkin" placeholder="mm/dd/yyyy" class="border border-gray-300 rounded px-2 py-2 w-96 font-light" required>
                                </div>
                                <div class="flex items-center space-x-4">
                                    <label for="checkout" class="w-36 font-light text-sm">Tanggal Check-Out</label>
                                    <input type="date" name="checkout" id="checkout" placeholder="mm/dd/yyyy" class="border border-gray-300 rounded px-2 py-2 w-96 font-light" required>
                                </div>
                                <div class="flex items-center space-x-4">
                                    <label for="total-nights" class="w-36 font-light text-sm">Total Malam</label>
                                    <input type="text" id="total-nights" class="border border-gray-300 rounded px-2 py-2 w-96 font-light bg-gray-100" readonly>
                                </div>                                
                                <div class="flex items-center space-x-4">
                                    <label for="roomtype" class="w-36 font-light text-sm">Room Type</label>
                                    <select name="roomtype" id="roomtype" class="border border-gray-300 rounded px-2 py-2 w-96 font-light" required>
                                        <option value="Single Room" class="font-light">Single Room</option>
                                        <option value="Double Room" class="font-light">Double Room</option>
                                        <option value="Suite Room" class="font-light">Suite Room</option>
                                        <option value="Luxury Room" class="font-light">Luxury Room</option>
                                    </select>
                                </div>
                                <div class="mt-2 mb-4">
                                    <button class="bg-[#45bb8e] hover:bg-[#3ba17a] text-white font-light py-3 px-4 rounded-lg shadow text-sm" type="submit">
                                        Confirm Booking
                                    </button>
                                </div>
                            </div>
                        </form>
                        </div>
                        <div class="ml-20 mt-28">
                            <img src="../static/heroSection.jpg" class="w-[400px]" alt="Hero Section">
                        </div>
                </div>



                 <div class="mt-6" id="booking-list">
                    <h2 class="font-bold text-3xl font-cormorant mb-8">Booking List</h2>
                    {{ if . }}
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg border border-gray-100">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                            <thead class="text-xs text-gray-700 uppercase">
                                <tr>
                                    <th scope="col" class="px-6 py-3">Name</th>
                                    <th scope="col" class="px-6 py-3">Room Type</th>
                                    <th scope="col" class="px-6 py-3">Check In</th>
                                    <th scope="col" class="px-6 py-3">Check Out</th>
                                    <th scope="col" class="px-6 py-3">Booking ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ range . }}
                                <tr class="border-b border-gray-200">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap capitalize">{{ .Name }}</th>
                                    <td class="px-6 py-4">{{ .RoomType }}</td>
                                    <td class="px-6 py-4">{{ .CheckIn }}</td>
                                    <td class="px-6 py-4">{{ .CheckOut }}</td>
                                    <td class="px-6 py-4">{{ .BookingID }}</td>
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                    {{ else }}
                    <p>No Bookings Available.</p>
                    {{ end }}
                 </div>
              </div>
            </div>
    </section>

  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.all.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        const today = new Date();
        const formattedDate = today.toISOString().split('T')[0]; 
        
        document.getElementById('checkin').setAttribute('min', formattedDate);
        document.getElementById('checkout').setAttribute('min', formattedDate);

        document.getElementById('checkin').addEventListener('change', function () {
            const checkinDate = document.getElementById('checkin').value;
            document.getElementById('checkout').setAttribute('min', checkinDate);
        });
    });


    document.getElementById('checkin').addEventListener('change', calculateNights);
    document.getElementById('checkout').addEventListener('change', calculateNights);

    function calculateNights() {
        const checkinDate = new Date(document.getElementById('checkin').value);
        const checkoutDate = new Date(document.getElementById('checkout').value);

        if (!isNaN(checkinDate) && !isNaN(checkoutDate) && checkoutDate > checkinDate) {
            const timeDifference = checkoutDate - checkinDate;
            const totalNights = timeDifference / (1000 * 60 * 60 * 24);
            document.getElementById('total-nights').value = `${totalNights} Malam`;
        } else {
            document.getElementById('total-nights').value = '';
        }
    };


    document.getElementById('bookingForm').addEventListener('submit', function (e) {
        e.preventDefault();

        const formData = new FormData(this);

        fetch('/book', {
            method: 'POST',
            body: formData,
        })
            .then(response => {
                if (response.ok) {
                    Swal.fire({
                        title: 'Booking Sukses!',
                        text: 'Check email anda untuk informasi Booking.',
                        icon: 'success',
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "OK"
                    }).then(() => {
                        window.location.href = '/booking';
                    });
                } else {
                    Swal.fire({
                        title: 'Booking Failed',
                        text: 'Booking bermasalah. Please try again.',
                        icon: 'error',
                    });
                }
            })
            .catch(error => {
                Swal.fire({
                    title: 'Error',
                    text: 'Waduh, sedang bermasalah. Coba lagi nanti.',
                    icon: 'warning',
                });
                console.error('Error:', error);
            });
    });
  </script>

</body>
</html>