<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kempinski Hotel | Booking</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"  rel="stylesheet" />
  <link href="assets/style/style.css" rel="stylesheet" />
  <link rel="icon" href="../static/NginepYukLogo.png" type="image/icon type">
  <!-- Google Font CDN -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <!-- Tailwind Config -->
  <script>
      tailwind.config = {
          theme: {
              extend: {
                  fontFamily: {
                      inter: ['Inter+Tight'],
                      montserrat: ['Montserrat'],
                      poppins: ['Poppins'],
                      roboto: ['Roboto'],
                      quicksand: ['Quicksand'],
                      cormorant: ['Cormorant']
                  },
              },
          },
      };
  </script>
</head>

<body class="font-poppins">
  <nav class="bg-white border-gray-200 shadow-lg font-poppins">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 md:p-5">
        <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
            <h1 class="text-3xl text-[#45bb8e] font-cormorant font-extrabold mt-2 mb-2">Kempinski.</h1>
        </a>
        <button data-collapse-toggle="navbar-dropdown" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
            aria-controls="navbar-dropdown" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
            </svg>
        </button>
        <div class="md:mr-5 hidden w-full md:block md:w-auto" id="navbar-dropdown">
            <ul
                class="flex flex-col font-light p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white">
                <li>
                    <a href="/" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#45bb8e] md:p-0">Home</a>
                </li>
                <li>
                    <a href="/" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#45bb8e] md:p-0">Room Type</a>
                </li>
                <li>
                    <a href="/booking" class="block py-2 px-3 text-[#45bb8e] rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#45bb8e] md:p-0">Booking</a>
                </li>
                <li>
                    <a href="/" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#45bb8e] md:p-0">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->

    <section id ="form">
        <div class="main-content mt-8">
            <div class="bg-white p-6 rounded-lg shadow-md max-w-7xl mx-auto mb-1">
                  <div>
                    <h2 class="font-bold text-2xl mb-2">Hotel Booking Form</h2>
                    <p class="text-sm font-normal mb-8">Silahkan isi data diri anda sebelum berkunjung.</p>
                    <form action="/book" method="POST">
                        <div class="grid gap-4 my-4">
                            <div class="flex items-center space-x-4">
                                <label for="name" class="w-36">Name</label>
                                <input type="text" name="name" id="name" placeholder="Name" class="border border-gray-300 rounded px-2 py-1 w-64" required>
                            </div>
                            <div class="flex items-center space-x-4">
                                <label for="checkin" class="w-36">Check-In Date</label>
                                <input type="date" name="checkin" id="checkin" placeholder="mm/dd/yyyy" class="border border-gray-300 rounded px-2 py-1 w-64" required>
                            </div>
                            <div class="flex items-center space-x-4">
                                <label for="checkout" class="w-36">Check-Out Date</label>
                                <input type="date" name="checkout" id="checkout" placeholder="mm/dd/yyyy" class="border border-gray-300 rounded px-2 py-1 w-64 " required>
                            </div>
                            <div class="flex items-center space-x-4">
                                <label for="roomtype" class="w-36">Room Type</label>
                                <select name="roomtype" id="roomtype" class="border border-gray-300 rounded px-2 py-1 w-64 " required>
                                    <option value="Single Room">Single Room</option>
                                    <option value="Double Room">Double Room</option>
                                    <option value="Suite Room">Suite Room</option>
                                    <option value="Luxury Room">Luxury Room</option>
                                </select>
                            </div>
                            <div class="mt-2 mb-4">
                                <button class="bg-green-600 hover:bg-green-800 text-white font-normal py-2 px-4 rounded shadow text-sm" type="submit">
                                    Confirm Booking
                                </button>
                            </div>
                        </div>
                    </form>
                </div>


                 <div class="mt-6">
                    <h2 class="font-bold text-2xl mb-8">Booking List</h2>
                    {{ if . }}
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg border border-gray-100">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                            <thead class="text-xs text-gray-700 uppercase">
                                <tr>
                                    <th scope="col" class="px-6 py-3 bg-gray-50">Name</th>
                                    <th scope="col" class="px-6 py-3">Room Type</th>
                                    <th scope="col" class="px-6 py-3 bg-gray-50">Check In</th>
                                    <th scope="col" class="px-6 py-3">Check Out</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ range . }}
                                <tr class="border-b border-gray-200">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 capitalize">{{ .Name }}</th>
                                    <td class="px-6 py-4">{{ .RoomType }}</td>
                                    <td class="px-6 py-4 bg-gray-50">{{ .CheckIn }}</td>
                                    <td class="px-6 py-4">{{ .CheckOut }}</td>
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                    {{ else }}
                    <p>No Bookings Available.</p>
                    {{ end }}

                 </div>
              </div>
            </div>
    </section>

  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>